@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: var(--color-neutral-800);
    --color-muted-foreground: oklch(0.6 0.02 240);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-muted-foreground: var(--color-neutral-400);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {
    .img {
        image-rendering: crisp-edges;
    }
    /* Headings */
    .prose h1 {
        @apply text-2xl font-bold text-zinc-800 dark:text-zinc-100 my-3;
    }

    .prose h2 {
        @apply text-xl font-bold text-zinc-800 dark:text-zinc-100 my-3;
    }

    .prose h3 {
        @apply text-lg font-semibold text-zinc-800 dark:text-zinc-100 my-2;
    }

    .prose a {
        @apply text-blue-500 hover:text-blue-600 dark:text-blue-400 dark:hover:text-blue-300 underline transition-colors;
    }

    /* Quill aligned headings */
    h1.ql-align-center {
        @apply text-center;
    }

    ul,
    .prose ul {
        @apply list-disc list-inside space-y-2 text-zinc-600 dark:text-zinc-400 my-2 ml-2;
    }

    .prose ol {
        @apply space-y-2 text-zinc-600 dark:text-zinc-400 my-2 ml-2;
    }

    .prose ol li[data-list="bullet"] {
        @apply list-disc list-inside ml-2;
    }

    .prose ol li[data-list="ordered"] {
        @apply list-decimal list-inside ml-2;
    }

    /* Blockquote */
    blockquote {
        @apply border-l-4 border-zinc-300 dark:border-zinc-600 pl-4 italic text-zinc-500 dark:text-zinc-400 my-3;
    }

    /* Code block container */
    .ql-code-block-container {
        @apply my-3 rounded-lg overflow-hidden;
    }


    .ql-code-block-container .ql-code-block {
        @apply text-green-400;
    }

    /* The actual code lines */
    .ql-code-block {
        @apply px-4 py-1 block whitespace-pre-wrap;
    }

    /* First and last line padding fix */
    .ql-code-block:first-child {
        @apply pt-3;
    }

    .ql-code-block:last-child {
        @apply pb-3;
    }

    /* Images */
    .prose img {
        @apply max-w-full my-3;
    }

    .ql-toolbar {
        border-radius: 0.5rem 0.5rem 0 0 !important;
    }

    .ql-container {
        border-radius: 0 0 0.5rem 0.5rem !important;
    }

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
